h4, h5 {
  margin-top: 20px;
  border-bottom: 1px dotted #ccc;
}

h4 {
  font-size: 16px;
}

.demoapp_tab {
  background-color: rgb(247,247,247);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ddd;
  color: rgb(68,68,68);
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', tahoma, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-right: 5px;
  padding: 3px 9px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.active {
  background-color: #555555;
  border: 1px solid #555555;
  color: #fff;
}

.ccinstance {
  border: 1px solid #ddd;
  margin: 3px 3px 3px 0;
  padding: 3px 6px 4px 6px;
  color: #333;
  border-radius: 3px;
  line-height: 13px;
  float: left;
}

.cccontainer {
  display: inline; 
  position: default;
  margin-left: 0px;
}

.ccrole {
  line-height:28px;
  display: table-cell; 
  vertical-align: middle; 
}

.userroleget {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 0px;
}

.viewcontainer {
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: rgb(247,247,247);
  padding-left: 5px;
  padding-right: 5px;
}

.nav {
  height:30px;
}

#left_col {
	float:left;
  margin-top: 8px;
}
#right_col {
	float:right;
  margin-top: 8px;
}
