h4, h5 {
  margin-top: 20px;
  border-bottom: 1px dotted #ccc;
}

h4 {
  font-size: 16px;
}

.ccinstance {
  border: 1px solid #ddd;
  margin: 3px 3px 3px 0;
  padding: 3px 6px 4px 6px;
  color: #333;
  border-radius: 3px;
  line-height: 13px;
  float: left;
}

.cccontainer {
  display: inline; 
  position: default;
  margin-left: 0;
}

.ccrole {
  line-height:28px;
  display: table-cell; 
  vertical-align: middle; 
}

.userroleget {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 0;
}

.view_container {
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: #F7F7F7;
  padding-left: 5px;
  padding-right: 5px;
}

.nav {
  height:30px;
}

.subdomain {
  text-decoration:underline;
}

#left_col {
	float:left;
  margin-top: 8px;
}
#right_col {
	float:right;
  margin-top: 8px;
}
