.progress-bar {
  width: 0%;
}

.hidden {
  display: none;
}

.spinner {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 6px;
}

.spinner > img {
  width: 80px;
  height: 80px;
}

.tickets_list_header {
  padding-bottom: 10px;
}

.pagination {
  text-align: center;
}