&.apps.popover {
  width:1024px;
  /*left:-435;*/
  height:500px;
}
seciton[data-main] {
  position:relative;
}
/*iframe {
  width:inherit;
  height:inherit;
  /*-webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
}*/

