h4 {
  font-size: 12px;
}

.nav {
  bottom: 0;
  margin: 18px 0 0 0;
}

.table-top td{
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0 4px 0 4px;
  border-spacing: 5px;
}
