section[data-main] {
  position: relative;
}

.notice_board a{
  color: rgb(130,160,0);
  font-weight: bold;
}

.instruction_page code {
  float: right;
  background-color: rgb(245, 245, 245);
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 4px;
}

.instruction_page span, .notice_board span {
  font-weight: bold;
  padding: 5px;
}

.notice_board span {
  display: block;
}

.notification_message, .instruction_page code, .notice_board a:hover {
  background-color: rgb(245, 245, 245);
}