section[data-main] {
  position: relative;
}

.notice_board a {
  font-weight: bold;
}

.small {
  color: rgb(130, 160, 0);
}

.medium {
  color: rgb(86, 132, 184);
}

.largest {
  color: rgb(220, 126, 124);
}

.instruction_page code {
  float: right;
  background-color: rgb(245, 245, 245);
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 4px;
}

.instruction_page span, .notice_board span {
  font-weight: bold;
  padding: 5px;
}

.notice_board span {
  display: block;
}

.notification_message, .instruction_page code, .notice_board a:hover {
  background-color: rgb(245, 245, 245);
}

.active .small {
  background-color: rgb(130, 160, 0);
}

.active .medium {
  background-color: rgb(86, 132, 184);
}

.active .largest {
  background-color: rgb(220, 126, 124);
}