.failure {
  background-color: red;
}

table tr{
  margin: 5px 0;
}

table th {
  width: 40%;
}

.colored {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 6px;
  border-radius: 2px;
  text-shadow: 0 0 2px #fff;
}
